.block {
    float: left;
    width: 40px;
    height: 40px;
    background-color: black;
  }

  /*  Legend
    W = Wall
    B = Movable block
    P = Player starting position
    G = Goal area for the blocks
*/
.W {
    background-color: grey;
  }

.P {
    background-color: green;
  }

.B {
    background-color: brown;
  }
  
.G {
    background-color: red;
  }