[class*='tile-'], [class*='entity-'] {
  float: left;
  width: 40px;
  height: 40px; 
}

[class*='-space'] {
  background-color: black;
}

[class*='-wall'] {
  background-color: grey;
}

[class*='-goal'] {
  background-color: red;
}

[class*='-block'] {
  background-color: brown;
}

[class*='-block-goal'] {
  background-color: orange;
}

[class*='-player'] {
  background-color: green;
}